.body-back{
    background-color: rgb(18,18,18);
    color: #fff;
}
.contents-back{
    background-color: rgb(30,30,30);
    box-shadow: 0 0 5px #fff;
}
.anime-back{
    background-color: rgb(30,30,30);
    box-shadow: 0 0 5px #fff;
}