*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

body{
    background-color: #eee;
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4rem;
    max-height: 4rem;
    top: 0;
    background-color: #0b3d59;
    color: white;
    z-index: 999;
}
.nav-brand{
    font-size: 40px;
    font-style: italic;
}
.nav-brand span{
    color: red;
    font-size: 38px;
}
.nav-links{
    display: flex;
}
.nav-links .nav-link{
    margin: 0 2.5rem;
    font-size: 20px;
}
.nav-links .nav-link a{
    color: white;
}
.toggler{
    display: none;
}
.toggler i{
    color: white;
    font-size: 40px;
}
 @media(max-width: 768px){
     nav{
         padding: 2.5rem 0;
     }
     .nav-brand{
         position: absolute;
         left: 1rem;
         z-index: 3;
         font-size: 30px;
     }
     .nav-brand span{
         font-size: 28px;
     }
     .nav-links{
         position: absolute;
         top: 5rem;
         height: 40vh;
         flex-direction: column;
         background-color: #0b3d59;
         width: 100%;
         justify-content: center;
         top: -1000px;
         transition: all 0.7s ease-in-out;
         padding-bottom: 1rem;
         z-index: 2;
     }
     .active{
         top: 5rem;
     }
     .nav-links .nav-link{
         background-color: transparent;
         text-align: center;
         margin: 1rem 0;
     }
     .toggler{
         display: block;
         position: absolute;
         right: 1rem;
         z-index: 3;
     }
 }
header{
    margin-top: 5rem;
    text-align: center;
}
.background{
    background-image: url(home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 75%;
    height: 50vh;
    margin: auto;
    position: relative;
}
.background-contents{
    height: 100%;
    background-color: rgba(11,61,89, 0.7);
}
.background-contents .tittle{
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}
.background-contents .quote {
    color: white;
    position: absolute;
    top: 50%;
    font-size: 25px;
    width: 75%;
    left: 10%;
    font-style: italic;
}
main{
    padding: 1rem;
    text-align: center;
}
.head-text{
    font-size: 28px;
    margin-bottom: 2rem;
}
.sort-btns{
    display: flex;
    justify-content: center;
}
.sort-btns button{
    background-color: #1d9bf0;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 8px;
    outline: none;
    margin: 0 1rem;
}
form{
    border: 1px solid rgb(168, 165, 165);
    min-width: 300px;
    max-width: 300px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 6px;
    border-radius: 8px;
}
form input{
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
}
form i{
    color: white;
    font-size: 16px;
    background-color: #1d9bf0;
    padding: 5px;
    border-radius: 50%;
}
.contents{
    width: 50%;
    margin: 2rem auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1rem 1rem 0 1rem;
}
.contents>div{
    height: 15rem;
    text-align: start;
    background-color: #eee;
    box-shadow: 0 0 3px #000;
    transition: all 0.3s;
    border-radius: 5px;
}
.contents>div:hover{
    transform: scale(1.1);
}
.contents>div img{
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}
.contents>div .name{
    font-size: 20px;
    padding: 0.2rem 1rem 1rem;
}
.contents>div .watch{
    text-align: center;
    margin-left: 1rem;
    border: 1px solid;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: #1d9bf0;
    color: white;
}
 @media(max-width: 768px){
     .background{
         width: 100%;
         height: 70vh;
     }
     .background-contents .tittle{
         top: 30%;
     }
     .background-contents .quote{
         width: 100%;
         left: 0;
         font-size: 18px;
         top: 60%;
     }
    main{
        padding: 2rem 0;
    }
    .sort-btns{
        text-align: center;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    form{
        min-width: 80%;
        margin-bottom: 1rem;
    }
    .contents{
       width: 100%;
       grid-template-columns: repeat(2, 1fr);
       justify-self: center;
    }
    .contents>div{
        height: 14rem;
    }
    .contents>div .name{
        padding-bottom: 8px;
        font-size: 18px;
    }
    .contents>div .watch{
        padding: 3px 8px;
        font-size: 15px;
    }
 }

 footer{
     padding: 2rem;
     text-align: center;
 }
 .divider{
     border-top: 1px solid rgb(184, 179, 179);
     width: 50%;
     margin: 0 auto 1rem;
 }
 .social{
     padding-bottom: 0.5rem;
     display: flex;
     justify-content: center;
 }
 .social>a i{
     background-color: #0b3d59;
     padding: 18px;
     border-radius: 50%;
     margin: 0 1rem 1rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 20px;
     height: 20px;
 }
 .social a i{
     color: white;
     font-size: 20px;
 }
@media(max-width: 768px){
    .divider{
        width: 100%;
    }
}