*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}

body{
    background-color: #eee;
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1.5rem 0;
    top: 0;
    background-color: #000;
    color: white;
}
.nav-brand{
    color: red;
    font-size: 40px;
    font-style: italic;
}
.nav-links{
    display: flex;
}
.nav-links .nav-link{
    margin: 0 2.5rem;
    font-size: 20px;
}
.toggler{
    display: none;
}
.toggler i{
    color: white;
    font-size: 40px;
}
 @media(max-width: 768px){
     nav{
         padding: 2.5rem 0;
     }
     .nav-brand{
         position: absolute;
         left: 1rem;
         z-index: 3;
     }
     .nav-links{
         position: absolute;
         top: 5rem;
         flex-direction: column;
         background-color: #000;
         width: 100%;
         justify-content: center;
         top: -1000px;
         transition: all 0.7s ease-in-out;
         padding-bottom: 1rem;
         z-index: 2;
     }
     .active{
         top: 5rem;
     }
     .nav-links .nav-link{
         background-color: transparent;
         text-align: center;
         margin: 1rem 0;
     }
     .toggler{
         display: block;
         position: absolute;
         right: 1rem;
         z-index: 3;
     }
 }

main{
    margin-top: 5%;
    padding: 1rem;
    text-align: center;
}
.head-text{
    font-size: 28px;
    margin-bottom: 2rem;
}
.sort-btns button{
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 8px;
    outline: none;
}
.contents{
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
}
.contents>div{
    width: 15rem;
    height: 13rem;
    text-align: start;
    background-color: antiquewhite;
    box-shadow: 0 0 3px #000;
    transition: all 0.3s;
}
.contents>div:hover{
    transform: scale(1.1);
}
.contents>div img{
    width: 100%;
    height: 10rem;
    object-fit: cover;
}
.contents>div .name{
    font-size: 20px;
    padding: 0.2rem 1rem;
}
 @media(max-width: 768px){
    main{
        margin-top: 20%;
        padding: 2rem 0;
    }
    .sort-btns{
        text-align: center;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .contents{
       width: 100%;
       grid-template-columns: repeat(1, 1fr);
       justify-self: center;
    }
    .contents>div{
        align-self: center;
        justify-self: center;
        width: 18rem;
    }
   
 }